
<aol-map [width]="'80%'" [height]="'100%'">
    <aol-interaction-mousewheelzoom></aol-interaction-mousewheelzoom>
    <aol-view [zoom]="zoom">
        <aol-coordinate [x]="18.068611" [y]="59.329444" [srid]="'EPSG:4326'"></aol-coordinate>
    </aol-view>
    <aol-layer-tile>
        <aol-source-osm></aol-source-osm>
    </aol-layer-tile>
    <aol-layer-vector>
        <aol-source-vector #sourceVector>
            <aol-interaction-default></aol-interaction-default>
            <aol-interaction-draw [features]="feat" type="Polygon" [source]="sourceVector.instance" (onDrawStart)="catchDrawStartEvent($event)" (onDrawEnd)="catchDrawEndEvent($event)"></aol-interaction-draw>
        </aol-source-vector>     
    </aol-layer-vector> 
 </aol-map>
